/*
 * main-container has 2.5% padding on each side then
 * each section has 2.5% margin on each side so that there will
 * be 5% clearence on the margins of the viewport as well
 * as between the containers on multi-column views
 */

body {
  margin: 0;
  padding: 0;
  background: $body-color;
}

.main-container {
  @extend %clearfix;
  background-color: $main-container-color;
  padding: 5px 2.5%;
  max-width: 3000px;
  margin: 0 auto;
}

.section {
  margin: 2.5%;
  float: left;
  @extend %boxshadow;
  @include border-radius(10px);
  @include tablet {
    /* 2 columns 5% margin (2.5% both sides) = 45% width each */
    width: 45%;
  }
  @include desktop {
    /* 3 columns 5% margin (2.5% both sides) = 28.33333333% width each */
    width: 28.33333333%;
    float: left;
  }
}

.section-img {
  @include desktop {
    overflow: hidden;
  }
}

.section-text {

  @include tablet {
    padding: 0 1em;
    min-height: 140px;
  }

}

.section img{
  width: 100%;
}

