

/*
 * main-container has 2.5% padding on each side then
 * each section has 2.5% margin on each side so that there will
 * be 5% clearence on the margins of the viewport as well
 * as between the containers on multi-column views
 */

.main-container {
  @extend %clearfix;
  background-color: #fff;
  padding: 5px 2.5%;
  max-width: 3000px;
  margin: 0 auto;
}

.section {
  margin: 2.5%;
  float: left;
}

.section img{
  width: 100%;
}