/* ===NAVIGATION=== */

.main-nav {
  width: 90%;
  margin: 0 auto;

  @media #{$tablet} {
    display: inline-block;
  }

}

.mobile-menu {
  @media #{$tablet} {
    display: none;
  }
}

.main-nav ul {
  display: none;
  @media #{$tablet} {
    display: block;
  }
  @media #{$desktop} {
    float: right;
  }
}

.main-nav li {
  margin: $standard-inset 0;
  padding: $standard-inset 0;
  font-weight: bold;

  @media #{$tablet} {
      display: inline-block;
      padding-left: $standard-inset;
      padding-right: $standard-inset;
      background: #fafafa;
      margin: 0 $standard-inset;
  }
}

.main-nav a {
  display: block;
}

.main-nav a:hover,
.footer-mobile-links a:hover,
.footer-tabletup-links a:hover {
  color: $menu-hover-color;
}

.footer-tabletup-links {
  display: none;
}