/* ===TYPOGRAPHY=== */

body {
  text-align: center;
  font-family: $main-font-stack;
  color: $main-font-color;
}

a {
  text-decoration: none;
  color: $main-font-color;
}

ul {
  padding: 0;
  list-style: none;
}