// Media queries

$tablet: "(min-width: 600px)";
$desktop: "(min-width: 1016px)";

// Border radius

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}