/* ===CLEARFIX=== */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%boxshadow {
  -webkit-box-shadow: $default-box-shadow;
  -moz-box-shadow: $default-box-shadow;
  box-shadow: $default-box-shadow;
}

%textlink {
  color: $text-link-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: lighten($text-link-color, 10%);
  }
}

// Placeholder used in three locations: components/navigation.scss, components/sections.scss, components/contact.scss
%navlink {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    color: $menu-hover-color;
  }
}