// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #7f7f7f;

// Functional color variables

$menu-hover-color: $black;
$main-font-color: $grey;

// Font stack

$main-font-stack: 'Open Sans', sans-serif;